/* Navigation Bar */

#nav {
    padding-bottom: 0;
    margin-bottom: 0;
}

.ui-menu-color-education {
    background-color: #d9a81d;
}


.ui-menu-color-work-history {
    background-color: #1c4a6c;
}

.ui-menu-color-contact {
    background-color: #3498db;
}

.ui-menu-color-download {
    background-color: #e74c3c;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 100px;
}


.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
}

/* Universal */

.section-headers {
    font-size: 2.5rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.read-more-buttons {
    padding-bottom: 25px;
}

/* Title and Profile Picture */

.title {
    background-color: rgb(201, 201, 201);
    margin-top: 100px;
}

.profile-pic{
    background-image: url(../images/headshot.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

/* Education Section */
#Education {
    background-color: #d9a71d70;
}

.CI-Logo {
    max-width: 150px;
    height: auto;
}

.language-images-container {
    line-height: 180px;
}

.language-images {
    width: 75px;
    height: 75px;
}

.progress {
    position: relative;
    height: 25px;
    background-color: #d9a71d70;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}


.progress-section {
    margin: 40px 20px;
}

/* Work History Section */

#WorkHistory {
    background-color: #1c496c79;
}

#Contact {
    background-color: #3498db7a;
}